ul.menu li{
    float: left;
    margin-right: 30px;
    cursor: pointer;
    text-align: center;
}
ul.menu{
    list-style: none;
}
ul.minimenu li{
    float: left;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}
ul.minimenu{
    list-style: none;
}